<html>
<head>
    <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet">
</head>
<body>

<form action="#" th:action="@{/participant}" th:object="${participant}" method="post">
    <ul class="form-style-1">
        <img th:src="@{/images/attis.png}">
        <li>
            <label for="name">Name <span class="required">*</span></label>
            <input type="text" th:field="*{name}" id="name" class="field-long" placeholder="Name" autofocus="true">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="required"></span>
        </li>

        <li>
            <label for="initials">Initials <span class="required">*</span></label>
            <input type="text" th:field="*{initials}" id="initials" placeholder="Initials">
            <span th:if="${#fields.hasErrors('initials')}" th:errors="*{initials}" class="required"></span>
        </li>

        <li>
            <label for="email">Email <span class="required">*</span></label>
            <input type="text" th:field="*{email}" id="email" class="field-long" placeholder="Email">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="required"></span>
        </li>

        <li>
            <label for="company">Company <span class="required">*</span></label>
            <input type="text" th:field="*{company}" id="company" class="field-long" placeholder="Company">
            <span th:if="${#fields.hasErrors('company')}" th:errors="*{company}" class="required"></span>
        </li>
        <li>
            <input type="submit" value="Register">
        </li>
    </ul>
</form>
</body>
</html>