<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Welcome to AWS Training</h1>

<p>This is the information necessary for class.</p>

<b>Console Url : </b> <span th:text="${url}"/> <br/>
<b>Username : </b> <span th:text="${participant.initials}"/> <br/>
<b>Password : </b> <span th:text="${participant.password}"/> <br/>
<b>Access Key Id : </b> <span th:text="${participant.access}"/> <br/>
<b>Secret Key : </b> <span th:text="${participant.secret}"/> <br/>

</body>
</html>
